
@font-face {
    font-family: 'Circular Air';
    src: url('../fonts/CircularAir-Light.woff2') format('woff2'),
        url('../fonts/CircularAir-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Circular Std';
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('../img/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}




/*#polina { 
  font-weight:100; 
  color: white;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
}*/

.osp-landing-page{
  width:100%;
  height:100vh;
  overflow:hidden;
  text-align:center;
  vertical-align:middle;
}

img.one {
  width:25%;
  vertical-align:middle;
}	
#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}
.button {
  display: inline-block;
  background-color: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.2rem;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: 2px solid  #FFFFFF;
  text-transform: uppercase;
  padding: 8px;

	
}
.content-area{
width: 100%;
    padding: 0;
position:absolute;
top:15%;
}
.button:hover {
  background-color: #cc7ea3;
	color: #FFF;
	border-color: #cc7ea3;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



@media screen and (max-device-width: 800px) {
/*  html { background: url(../img/polina.jpg) #000 no-repeat center center fixed;background-size:cover; }*/
  #bgvid { display: none; }
  #polina{width:100%;}
  .overlay{background-color:#cc7ea3;height:100vh;}
  #polina h1 {
    margin: 55px auto;
    text-align: center;
    text-transform: unset;
    font-size: 55px;
}

  .button {
    font-size: 35px;
    width: 215px;
    border: solid medium;
    padding: 12px;
}

.content-area {
    width: 100%;
    padding: 0;
    margin: 130px auto;
    position: absolute;
    top: 25%;
}
.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

}

/*@media only screen and (min-width: 400px) and (max-width: 989px) {
    #polina h1 { font-size: 75px !important; }
	.button { font-size: 15px; width: 150px; border:solid medium; padding: 8px;}
}
*/

.osp-landing-page h1 {margin-top:45px; margin-bottom:5; text-align: center;text-transform: unset;font-size:30px;text-transform: uppercase;color:#fff;}

@media only screen and (min-device-width : 820px) and (max-device-width : 1282px){

}

