.case-area{
	padding:0;
	margin:0;
}
.case-gallery .btn {
    /* position: relative; */
    display: flex;
    width: 100%;
    max-width: 280px;
    margin: 18px auto 0;
}



.btn-hollow-white, .btn-hollow-white.active, .btn-hollow-white:hover {
    background-color: transparent;
    background-color: var(--cra-clear);
    color: #fff;
    color: var(--cr-light);
    border: 3px solid #fff !important;
    border: 3px solid var(--cra-light);
}

.btn {
    height: 50px;
    width: 200px;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 0;
    white-space: nowrap;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}






ul {
	list-style: none;
	margin: 0;
	padding: 0
}






.modal {
	height: 100vh;
	padding: 50px;
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.modal,
.modal .overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10
}

.modal .overlay {
	height: 100%;
	background-color: rgba(0, 0, 0, .85)
}

.modal.active {
	display: flex
}

.modal .root {
	position: relative;
	border-radius: 40px;
	background-color: #fff;
	box-shadow: 0 0 100px 10px rgba(0, 0, 0, .12);
	z-index: 11
}

.modal .root i.close {
	position: absolute;
	top: -25px;
	right: -25px;
	font-size: 40px!important;
	cursor: pointer;
	color: #fff;
	z-index: 12
}

.case-study {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 100px 0;
	box-shadow: 0 10px 100px 20px rgba(0, 0, 0, .15);
	box-shadow: var(--fx-shadow-light);
	height: auto;
	min-height: 100vh;
	z-index: 1;
	overflow: hidden
}

.case-study-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden
}

.case-study-bg>div {
	display: none
}

.case-study-bg>div.active {
	display: block
}

.case-study-bg>div.active img {
	opacity: .25
}

.case-study-bg>div.sensodyne.active img {
	opacity: .8
}

.case-study-bg>div.vuz360.active img {
	height: 100%;
	top: -15%
}

.case-study .gradient {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}

.case-study .gradient.red {
	background: #ff0f00;
	background: linear-gradient(135deg, #a1000d, #ff1a26 90%)
}

.case-study .gradient.orange {
	background: #ff0f00;
	background: linear-gradient(135deg, #ff5411, #ff811a 90%)
}

.case-study .gradient.aqua {
	background: #3b94a6;
	background: linear-gradient(135deg, #3b94a6, #3b94a6 90%)
}

.case-study .gradient.green {
    background: rgb(144,93,241);
    background: linear-gradient(198deg, rgba(144,93,241,1) 0%, rgba(74,52,135,1) 100%);

}

.case-study .gradient.blue {
	background: #2536b2;
	background: linear-gradient(135deg, #2536b2, #0f2d5f 90%)
}

.case-study .gradient.pink {
	background: #d66978;
	background: linear-gradient(135deg, #d66978, #8f3c3c 90%)
}

.case-study .gradient.coal {
	background: #181818;
	background: linear-gradient(135deg, #202020, #000 90%)
}

.case-study .gradient.purple {
	background: #862db9;
	background: linear-gradient(135deg, #862db9, #48118f 90%)
}

.case-study .gradient.switz {
	background: #dd5e64;
	background: linear-gradient(135deg, #dd5e64, #f39d1c 90%)
}

.case-study .gradient.google {
	background: #5e6bdd;
	background: linear-gradient(135deg, #d5dd5e, #5e6bdd 90%)
}

.case-study-wallpaper {
	position: absolute;
	top: 100px;
	left: 25px;
	z-index: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 50%
}

.case-study h3 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 5;
    font-size: 2.5rem;
}

.case-brands,
.case-study h3 {
	position: relative;
	width: 100%
}

.case-brands {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
	opacity: .85;
	z-index: 1;
	flex: none
}

.case-brands-holder {
	width: auto;
	margin: 0 auto
}

.case-brands li {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 118px;
	height: 35px;
	margin: 30px;
	opacity: .35;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .08em;
	font-size: 15px;
	cursor: pointer;
	transition: opacity .4s ease-out
}

.case-brands li.active,
.case-brands li:hover {
	opacity: 1
}

.case-brands li img {
	width: 100%
}

.case-brands h6 {
	position: absolute;
	opacity: .5;
	bottom: 50px;
	font-size: 9px
}

#stc_ {
	width: 75px
}

#vuz360_ {
	width: 90px
}

.case-gallery {
	position: relative;
	margin-right: 100px;
	width: 22.5vw;
	height: auto;
	flex: none
}

.case-gallery-frame {
	position: relative;
	width: 22.5vw;
	height: 31.33705vw;
	margin-bottom: 18px;
	overflow: hidden
}

.case-gallery-frame.active {
	height: 31.33705vw
}

.case-gallery-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity .4s ease-in-out;
	overflow: hidden;
	border-radius: 8px
}

.case-gallery-item.active {
	position: relative;
	opacity: 1;
	z-index: 0;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial
}

.case-gallery-frame .portrait {
	position: relative;
	height: 100%!important;
	width: auto!important
}

.case-gallery-frame .landscape {
	position: relative;
	height: auto!important;
	width: 100%!important
}

.case-gallery-frame .lowres {
	position: relative;
	height: auto!important;
	width: auto!important
}

.case-gallery-frame .lowres.portrait {
	max-height: 100%!important
}

.case-gallery-frame .lowres.landscape {
	max-width: 100%!important
}

.case-gallery-item a,
.case-gallery-item img {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
	width: 100%!important;
	height: 100%!important
}

.case-gallery-item a i {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	line-height: 100px;
	margin: auto;
	text-align: center;
	font-size: 72px!important;
	color: #fff;
	color: var(--cr-light);
	background-color: rgba(0, 0, 0, .45);
	box-shadow: 0 10px 100px 20px rgba(0, 0, 0, .15);
	box-shadow: var(--fx-shadow-light)
}

.case-gallery-frame img.active {
	position: relative;
	transform: rotateY(0deg)
}

.case-gallery-item iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1
}

.case-gallery-item.wide iframe,
.case-gallery-item.wide video {
	height: 100%;
	width: 133.33%;
	left: -16.66625%
}

.case-gallery-item.tall iframe,
.case-gallery-item.tall video {
	height: 280%;
	width: 100%;
	top: -35%
}

.case-gallery-item.r169 iframe,
.case-gallery-item.r169 video {
	height: 100%;
	width: 100%;
	left: 0
}

.case-gallery-item.r34 iframe,
.case-gallery-item.r34 img,
.case-gallery-item.r34 video {
	height: 100%;
	width: 139.27577%;
	left: -19.63788%
}

.case-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: none;
	position: relative;
	z-index: 1
}

.case-navigation.active {
	display: flex
}

.case-gallery .btn {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 280px;
	margin: 18px auto 0;
	color:#fff;
}

.case-info .btn {
	display: none;
	margin: 15px
}

.case-navigation .next,
.case-navigation .prev {
	padding: 10px 12px;
	color: #fff !important;
	color: var(--cr-light);
	opacity: .5;
	cursor: pointer;
	transition: opacity .4s ease-out
}

.case-navigation .next:hover,
.case-navigation .prev:hover {
	opacity: 1
}

.cases {
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
	width: 90%;
	height: 100%;
	margin: 0 auto
}

.case {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	top: 0;
	left: 0;
	height: 0;
	width: 100%;
	border-radius: 15px;
	padding: 0 75px 0 0;
	background-color: hsla(0, 0%, 100%, .05);
	box-shadow: 0 10px 100px 20px rgba(0, 0, 0, .15);
	box-shadow: var(--fx-shadow-light);
	transform: rotateY(-15deg);
	transform-origin: 20% 0;
	opacity: 0;
	z-index: -1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: opacity .4s ease-out, transform .4s ease-out;
	overflow: hidden
}

.case.active {
	position: relative;
	opacity: 1;
	z-index: 5;
	-webkit-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
	transform: rotateY(0deg);
	left: 0;
	height: auto;
	padding: 30px
}

.case-info {
	width: 100%
}

.case-info:lang(ar) {
	direction: rtl;
	text-align: right;
	padding-right: 50px
}

.case-logo {
	position: relative;
	height: 100px;
	width: auto;
	margin-top: 75px;
	margin-bottom: 35px;
	text-align: left
}

.case-logo:lang(ar) {
	text-align: right
}

.case-objective {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 25px;
	padding: 25px 0;
	border-top: 1px solid hsla(0, 0%, 100%, .4);
	border-bottom: 1px solid hsla(0, 0%, 100%, .4);
	font-size: 20px;
	text-transform: lowercase;
	color: hsla(0, 0%, 100%, .4)
}

.case-objective span {
	position: relative;
	top: 2px;
	width: 100px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: .2em;
	margin-right: 15px
}

.case-objective span,
.case-objective strong {
	text-transform: uppercase;
	color: #fff !important;
	color: var(--cr-light)
}

.case-objective strong {
	opacity: 1;
	font-size: 13px;
	letter-spacing: .05em;
	margin: 0 15px
}

.case-platforms {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .4);
	font-size: 24px
}

.case-platforms span {
	position: relative;
	top: 2px;
	width: 100px;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: .2em;
	text-transform: uppercase;
	margin-right: 15px;
	color: #fff !important;
	color: var(--cr-light);
	height: 100%
}

.case-icons .platform {
	display: inline-block;
	position: relative;
	top: 2px;
	fill: #fff;
	height: 24px;
	width: 24px;
	margin: 0 10px
}

.case-icons .platform:first-child {
	margin-left: 0
}

.case-icons .platform:last-child {
	margin-right: 0
}

.case .display {
	color: #fff !important;
	color: var(--cr-light);
	width: 100%;
	padding-right: 25px;
	line-height: 1.85em;
	margin-bottom: 35px
}

.case .display:lang(ar) {
	padding-right: 0
}

.case .display ul {
	padding: 0;
	margin: 0;
	list-style: disc
}

.case-summary ul:not(.case-stats) li {
	color: #fff;
	color: var(--cr-light);
	line-height: 1.85em;
	text-indent: 25px;
	list-style-position: outside
}

.case-stats {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	left: -5px;
	top: -5px;
	margin-top: 50px
}

.case-stats:lang(ar) {
	left: 0
}

.case-stat {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 90px;
	width: 110px;
	margin: 5px;
	padding: 17px 8px 0;
	transition: all .4s ease-out;
	border-radius: 8px;
	border: 3px solid #fff;
	cursor: default;
	list-style: none;
	line-height: 1em;
	text-indent: 0
}

.case-stat h2 {
	display: block;
	text-align: left;
	font-size: 22px;
	margin-bottom: -3px;
	    color: #fff;
}

.case-stat h2,
.case-stat span {
	position: relative;
	letter-spacing: -.03em
}

.case-stat span {
	width: 100%;
	text-align: center;
	font-size: 13px;
	line-height: 1em;
	color: hsla(0, 0%, 100%, .45);
	text-transform: lowercase
}

.case-stat:first-child:lang(ar),
.case-stat:last-child {
	margin-right: 0
}

.case-stat:last-child:lang(ar) {
	margin-right: 5px
}

@media (max-width:1440px) {
	.case-logo {
		height: 55px;
		width: auto;
		margin-top: 35px
	}
	.case-gallery {
		width: 25vw;
		margin-right: 75px
	}
	.case-gallery-frame {
		width: 25vw
	}
	.case-gallery-frame.active {
		height: 34.81894vw
	}
	.case-brands li {
		width: 90px
	}
}

@media (max-width:1200px) {
	.cases {
		width: 95%
	}
	.case {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.case.active {
		padding: 65px 25px
	}
	.case-objective,
	.case-platforms {
		padding-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.case-objective span,
	.case-platforms span {
		margin-right: 0;
		margin-bottom: 10px;
		width: auto
	}
	.case-objective strong {
		margin-left: 0;
		margin-right: 0;
		margin-top: 7px
	}
	.case-platforms {
		left: 0
	}
	.case-info,
	.case-platforms {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.case-info {
		padding-left: 35px
	}
	.case-info,
	.case-info:lang(ar) {
		padding-right: 35px
	}
	.case-logo {
		margin: 65px auto 45px;
		text-align: center
	}
	.case .display {
		width: 100%;
		padding: 0;
		text-align: center
	}
	.case-stats {
		top: -10px;
		left: -10px;
		margin-top: 35px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center
	}
	.case-stat {
		margin: 10px;
		border-width: 3px
	}
	.case-stat h2 {
		font-size: 22px;
		margin-bottom: 3px
	}
	.case-gallery {
		margin: 50px auto 0;
		width: 450px;
		max-width: none
	}
	.case-gallery-frame {
		height: 0
	}
	.case-gallery-frame.active {
		height: 626.74095px;
		width: 450px
	}
	.case-gallery-item {
		border-radius: 15px
	}
	.case-gallery-item .landscape {
		width: auto!important;
		height: 100%!important
	}
	.case-gallery .btn {
		display: none
	}
	.case-info .btn {
		display: flex;
		    color: #fff;
	}
	.case-brands-holder {
		width: 100%;
		margin: 0
	}
}

@media (max-width:960px) {
	.case-study {
		padding: 75px 0 25px
	}
	.case-gallery {
		width: 45vw;
		margin-top: 50px
	}
	.case-gallery-frame.active {
		height: 62.67409vw;
		width: 45vw
	}
	.case-gallery-frame .landscape {
		height: auto!important;
		width: 100%!important;
		-o-object-fit: contain;
		object-fit: contain
	}
	.case-gallery-frame .lowres.landscape {
		max-height: 100%!important;
		max-width: 100%!important;
		height: 100%!important;
		width: 100%!important;
		-o-object-fit: contain;
		object-fit: contain
	}
	.case-brands {
		padding: 25px 10px;
		flex-wrap: wrap
	}
	.case-brands li {
		margin: 22px;
		width: 100px
	}
	.case {
		margin: 0;
		width: 100%
	}
	.case-stats {
		width: 250px
	}
	.case-stat {
		height: 65px;
		width: calc(50% - 10px);
		padding-top: 12px;
		border-width: 2px;
		margin: 5px
	}
	.case-stat:lang(ar) {
		height: 90px;
		padding-top: 20px
	}
	.case-stat:nth-child(3) {
		margin-left: 0
	}
	.case-stat:nth-child(3):lang(ar) {
		margin-left: 5px;
		margin-right: 0
	}
	.case-stat h2 {
		font-size: 18px;
		margin-bottom: 0
	}
	.case-stat span {
		font-size: 13px;
		font-weight: 400
	}
	.case-objective,
	.case-platforms {
		text-align: center;
		font-size: 18px
	}
}

@media (max-width:600px) {
	.case-study {
		padding-bottom: 0
	}
	.case-gallery {
		width: 50vw;
		margin-top: 35px
	}
	.case-gallery-frame.active {
		width: 50vw;
		height: 69.63788vw
	}
	.case-brands {
		margin-bottom: 25px
	}
	.cases {
		width: 100%
	}
	.case {
		margin: 0;
		border-radius: 0
	}
	.case-logo {
		max-width: 250px;
		width: 85%;
		height: 75px;
		-o-object-fit: contain;
		object-fit: contain
	}
	.case-logo:lang(ar) {
		text-align: center
	}
	.case-objective,
	.case-platforms {
		padding-right: 0;
		width: 100%
	}
	.case-objective span,
	.case-platforms span {
		display: block;
		margin: 0;
		width: 100%
	}
	.case-objective strong {
		margin-top: 0
	}
	.case-icons {
		margin-top: 7px
	}
	.case-info {
		padding-left: 15px
	}
	.case-info,
	.case-info:lang(ar) {
		padding-right: 15px
	}
	.case-stat {
		height: 65px;
		width: calc(50% - 10px);
		padding-top: 12px;
		border-width: 2px;
		margin: 5px
	}
	.case-stat:lang(ar) {
		height: 90px;
		padding-top: 20px
	}
	.case-stat:lang(ar) h2 {
		text-align: center
	}
	.case-stat h2 {
		font-size: 18px;
		margin-bottom: 0
	}
	.case-stat span {
		font-size: 13px;
		font-weight: 400
	}
	.case-gallery-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

@media (max-width:480px) {
	.case-brands li {
		width: 70px;
		margin: 15px
	}
	.case-brands>:nth-child(2) {
		margin: 15px
	}
	.case-objective,
	.case-platforms {
		margin-bottom: 25px;
		font-size: 15px
	}
	.case .display {
		margin-bottom: 25px;
		font-size: 12px
	}
	.case-stats {
		width: 200px;
		top: -15px;
		left: 0
	}
	.case-platforms .platform {
		height: 25px;
		width: 25px;
		margin: 0 5px
	}
	.case-gallery {
		width: 75vw;
		margin-top: 35px
	}
	.case-gallery-frame.active {
		height: 104.45682vw;
		width: 75vw
	}
	.case-gallery .btn {
		padding: 0 10px;
		max-width: 100%;
		width: calc(100% - 20px)
	}
}



/*


.fx-box-inner-shadow {
	box-shadow: inset 0 0 35px 20px rgba(0, 0, 0, .2);
	box-shadow: var(--fx-shadow-inner)
}

.fx-box-upper-shadow {
	box-shadow: inset 0 100px 100px 50px rgba(0, 0, 0, .35);
	box-shadow: var(--fx-shadow-upper)
}

.fx-box-lower-shadow {
	box-shadow: inset 0 -100px 100px 50px rgba(0, 0, 0, .35);
	box-shadow: var(--fx-shadow-lower)
}


.fx-gradient-red {
	background: #b90000;
	background: var(--cr-red-dark);
	background: linear-gradient(90deg, #b90000, #cc0d03 10%, #e02107 65%, #f56915);
	background: var(--cra-gradient-red)
}

.fx-gradient-light {
	background: #fff;
	background: var(--cr-light);
	background: linear-gradient(180deg, #fff, #dfdfdf 56%, #e9e9e9 91%, #fff);
	background: var(--cra-gradient-light)
}

.fx-gradient-music {
	background: #0600ff;
	background: var(--cr-brand-music-blue);
	background: linear-gradient(180deg, #0600ff, #ff0a3e);
	background: var(--cra-gradient-music)
}

.fx-gradient-music-reverse {
	background: #0600ff;
	background: var(--cr-brand-music-blue);
	background: linear-gradient(0deg, #0600ff, #ff0a3e);
	background: var(--cra-gradient-music)
}

.fx-flair-down {
	transform: rotate(-45deg)
}

.fx-flair-down,
.fx-flair-up {
	background-color: hsla(0, 0%, 100%, .005);
	box-shadow: 0 0 150px 30px rgba(0, 0, 0, .13)
}

.fx-flair-up {
	transform: rotate(50deg)
}

.fx-flair-down-right {
	transform: rotate(-45deg)
}

.fx-flair-down-right,
.fx-flair-up-right {
	background-color: hsla(0, 0%, 100%, .005);
	box-shadow: 0 0 150px 30px rgba(0, 0, 0, .13)
}

.fx-flair-up-right {
	transform: rotate(50deg)
}

.anime-text {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
	opacity: 0
}

.anime-text-letter {
	transform-origin: 0 100%
}

h2 .anime-text-letter {
	min-width: 10px
}

h3 .anime-text-letter {
	min-width: 5px
}

p.display .anime-text-letter {
	min-width: 2px
}

.fx-brand {
	color: var(--cr-light);
	background: var(--cr-red)
}

.fx-brand-light {
	color: var(--cr-red);
	background: var(--cr-light);
	background: var(--cra-gradient-light);
	box-shadow: var(--fx-shadow-light)
}

#home .hero-slogan h2 {
	font-size: 64px;
	line-height: .9em
}

#home .hero-slogan h2:lang(ar) {
	line-height: 1.3em
}

#home .hero-slogan h5 {
	letter-spacing: .15em;
	font-size: 12px
}

#home .hero-slogan h5:lang(ar) {
	font-size: 38px
}

@media (max-width:1200px) {
	#home:lang(ar) .hero-messaging {
		top: 50px
	}
}

@media (max-width:600px) {
	#home .hero-slogan h2 {
		font-size: 55px
	}
	#home:lang(ar) .hero-messaging {
		top: -30px
	}
	#home:lang(ar) .hero-stats {
		top: -35px
	}
}

@media (max-width:480px) {
	#home .hero-slogan h2 {
		font-size: 45px
	}
	#home .hero-slogan h5 {
		letter-spacing: .12em;
		font-size: 10px
	}
	#home:lang(ar) .hero-messaging {
		top: -25px
	}
}

@media (max-width:320px) {
	#home .hero-slogan h2 {
		font-size: 36px
	}
}

#creators .hero-slogan h5:lang(ar) {
	font-size: 32px;
	white-space: nowrap
}

#creators .pitch-bg .brand-logo-gradient {
	top: -225px
}

#creators .pitch-bg .brand-name-gradient {
	bottom: -120px;
	left: 300px
}

#creators .pitch-actor {
	bottom: -90px;
	height: 110%;
	left: -7%
}

#creators .pitch-actor:lang(ar) {
	right: -7%
}

@media (max-width:1440px) {
	#creators .pitch-actor {
		left: -10%
	}
	#creators .pitch-actor:lang(ar) {
		right: -10%
	}
	#creators .hero-slogan h5:lang(ar) {
		font-size: 28px
	}
}

@media (max-width:1200px) {
	#creators .hero-messaging {
		padding-bottom: 0
	}
	#creators:lang(ar) .hero-messaging {
		top: 30px
	}
	#creators:lang(ar) .hero-slogan h5 {
		white-space: normal
	}
}

@media (max-width:850px) {
	#creators:lang(ar) .hero-messaging {
		top: 0
	}
}

@media (max-width:600px) {
	#creators:lang(ar) .hero-messaging {
		top: 0
	}
}

@media (max-width:480px) {
	#creators .hero-messaging {
		padding-bottom: 25px
	}
	#creators .hero-slogan h2 {
		font-size: 32px
	}
	#creators:lang(ar) .hero-messaging {
		top: 10px
	}
	#creators:lang(ar) .hero-slogan h5 {
		font-size: 15px!important
	}
}

#brands .hero-slogan h2 {
	width: 500px;
	font-size: 55px;
	line-height: .9em
}

#brands .hero-slogan h2:lang(ar) {
	line-height: 1.2em
}

#brands .services-messaging .display {
	min-height: 100px
}

#brands .services-messaging {
	margin-bottom: 0
}

#brands .features {
	flex-direction: row
}

#brands .features-bg .diagonal-right {
	top: -20%;
	left: -350px;
	height: 130%;
	width: 900px;
	transform: rotate(15deg);
	-o-object-fit: cover;
	object-fit: cover
}

#brands .features-bg .fx-flair-down {
	top: -10%;
	left: -300px;
	height: 150%;
	width: 800px;
	transform: rotate(-35deg)
}

#brands .features-image img {
	width: 90%;
	min-width: 500px
}

@media (max-width:1650px) {
	#brands .features-bg .diagonal-right {
		left: -325px;
		width: 800px;
		transform: rotate(12deg)
	}
	#brands .features-bg .fx-flair-down {
		top: 10%;
		left: -400px;
		height: 150%;
		width: 800px;
		transform: rotate(-35deg)
	}
	#brands .features-header {
		width: calc(50% - 150px);
		margin-left: 100px;
		padding-right: 100px
	}
	#brands .features-image {
		position: relative;
		left: -75px
	}
	#brands .features-image img {
		width: 115%;
		max-width: 600px;
		min-width: 450px
	}
}

@media (max-width:1440px) {
	#brands .hero-slogan {
		margin-bottom: 0
	}
	#brands .hero-slogan h2 {
		width: 350px;
		font-size: 48px
	}
	#brands .pitch {
		justify-content: center
	}
	#brands .pitch-bg .brand-logo-gradient,
	#brands .pitch-bg .brand-name-gradient {
		display: none
	}
	#brands .pitch-header {
		margin-top: 0;
		max-width: 600px;
		width: 100%
	}
	#brands .features-image {
		left: -60px;
		width: 100%
	}
	#brands .features-bg .diagonal-right {
		left: -415px;
		transform: rotate(17deg)
	}
}

@media (max-width:1200px) {
	#brands .features-bg .diagonal-right {
		width: 130%;
		top: -100px;
		right: 50%;
		left: auto;
		transform-origin: top right;
		transform: rotate(30deg)
	}
	#brands .features-bg .fx-flair-down {
		top: 8%;
		left: -400px;
		height: 150%;
		width: 800px;
		transform-origin: top left;
		transform: rotate(-85deg)
	}
	#brands .features-header h2 {
		font-size: 36px
	}
	#brands .features-image {
		left: -20px
	}
	#brands .features-image img {
		position: absolute;
		margin-top: 0;
		top: 0;
		width: 125%;
		max-width: none;
		min-width: 0
	}
}

@media (max-width:1080px) {
	#brands .features {
		padding: 100px 0
	}
	#brands .features-bg .diagonal-right {
		top: -35%;
		right: -50%;
		height: 50%;
		width: 200%;
		transform-origin: top right;
		transform: rotate(-10deg)
	}
	#brands .features-bg .fx-flair-down {
		display: none
	}
	#brands .features {
		flex-direction: column
	}
	#brands .features-header {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0
	}
	#brands .features-header h2 {
		text-align: center;
		margin: 0 0 70px
	}
	#brands .features-image {
		width: 100%;
		left: 0;
		display: flex;
		justify-content: center
	}
	#brands .features-image img {
		position: relative;
		top: 0;
		width: 75%;
		max-width: 500px;
		min-width: 225px
	}
	#brands .features-list {
		padding: 0;
		width: 100%;
		width: 85%;
		margin: 125px auto 0
	}
	#brands .features-item-button {
		top: -10px;
		margin-bottom: 15px
	}
}

@media (max-width:960px) {
	#brands .features-bg .diagonal-right {
		top: -29%
	}
	#brands .features-item {
		margin-bottom: 50px
	}
}

@media (max-width:800px) {
	#brands:lang(ar) .hero-messaging {
		top: -40px
	}
}

@media (max-width:480px) {
	#brands .hero-slogan h2 {
		width: auto;
		font-size: 36px;
		line-height: .9em
	}
	#brands .pitch-header h3 {
		font-size: 22px
	}
	#brands .pitch-header h4 {
		font-size: 16px
	}
	#brands .pitch-messaging p {
		font-size: 12px
	}
	#brands .features {
		padding: 75px 0
	}
	#brands .features-header h2 {
		font-size: 24px;
		margin-bottom: 35px
	}
	#brands .features-list {
		margin-top: 75px
	}
	#brands .features-item-header {
		display: flex;
		justify-content: center
	}
	#brands .features-item-header h3 {
		text-align: center;
		margin: 0 0 15px
	}
	#brands .features-item-button {
		margin: 15px 0
	}
	#brands .features-item-description p {
		text-align: center
	}
}

*/
